__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.idea/
.vscode/
.env
.venv/
venv/
/datasets/
/runs/
wandb/
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.blg
*.onnx
*.engine
*.torchscript
*.tflite
*.cache
/paper/
*.docx
*.xlsx
*.zip
*.tex
*.pdf
*.svg
ultralytics.egg-info/
